@{
    ViewData["Title"] = "Privacy Policy";
    ViewBag.IncludeHeader = true;
    ViewBag.IncludeFooter = true;
}
<section class="px-10 py-10">

    <h1 class="mb-5 text-center text-3xl">@ViewData["Title"]</h1>
    <p class="text-center text-xl">This project is under MIT License.</p>

</section>